@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(0, 0%, 98%);
    height:100vh;
    width: 100%;
}
:root{
    --fontcolor: #534e4e
}
header{
    text-align: center;
    width: 500px;
    margin: 20px auto;    
}
header .first{
    font-weight: 100;
}
.third , .first{
    color: #7b7b7b;
}
.first , .second{
    font-size: 25px;
}
header .second{
    font-weight: 800;
    color: #5d5a5a
}
header .third{
    font-size: 12px;
}
header div{
    margin-top: 10px;
}
.first , .second ,.third{
    line-height: 1.5;
}
.container div img{
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 50px;
}
.container{
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(6 ,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 350px;
    width: 750px;
    grid-template-areas: 
    ". . teambuilder teambuilder . ."
    "supervisor supervisor teambuilder teambuilder calculator calculator"
    "supervisor supervisor karma karma calculator calculator"
    ". . karma karma . ."
    ;
    margin: 0px auto;
    gap: 20px;
    margin-top: 40px;
 
}
.container div{
    border-radius: 5px;
    background-color: white;
    position: relative;
    box-shadow: rgb(92 151 157) 0px 10px 36px -20px;
    padding: 20px 20px;
}
.title{
    position: absolute;
    left: 10%;
    top:10%;
    font-weight:600;
    color: var(--fontcolor);
}
.content{
    position: absolute;
    left: 10%;
    top:25%;
    font-size: 10px;
    color: #c0bdbd;
}
.teambuilder{
    grid-area: teambuilder;
    border-top: hsl(0, 78%, 62%) solid 3px;
}
.supervisor{
    grid-area: supervisor;
    border-top: hsl(180, 62%, 55%) solid 3px;
}
.calculator{
    grid-area:calculator ;
    border-top: hsl(212, 86%, 64%) solid 3px;
}
.karma{
    grid-area: karma;
    border-top: hsl(34, 97%, 64%) solid 3px;
}
